name: Team X's approval workflow

on: pull_request_review

jobs:
  labelWhenApproved:
    name: Label When Approved
    runs-on: ubuntu-latest
    steps:
    - name: label approved PR
      uses: pullreminders/label-when-approved-action
      env:
        APPROVALS: 1
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: ApprovedAndReadyForMerge
